<?php
/*
 * This file is part of the Dive ORM framework.
 * (c) Steffen Zeidler <sigma_z@sigma-scripts.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * @author Steffen Zeidler <sigma_z@sigma-scripts.de>
 * Date: 15.11.12
 */

return array(
    'SQLiteInFixtureFile' => 'sqlite:' . FIXTURE_DIR . '/test.db',
    //'SQLiteInMemory' => 'sqlite::memory:', // currently not supported: @see https://github.com/sigma-z/Dive/issues/7
    //'MySQL' => array(
    //    'dsn' => 'mysql:host=localhost;dbname=test',
    //    'user' => 'root',
    //    'password' => ''
    //)
);
